	
<div class="nav-item stylehome">
    <ul class="icons">
    
        <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <%= link_to "Back", :back %>
        </li>  
    </ul>
</div>

<section id="thumbnails">



    sadñmf´kadsfjbñsdjfobjkçbf
    adskogfo´kdsfoçkgpvasd
    asodkfokasdpgasd`kgvdfap
    sadñmf´kadsfjbñsdjfobjkçbfasdkfpgàsd
    gasd
    pkas
    dkgasd
    gkasdkg
    vadsk
</section>
